.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, #c798f3, #676cf4);
}
  .container{
    background-color: rgb(255, 255, 255);
    padding: 80px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  }
  .container h2{
    padding-bottom: 70px;
    margin: 0;
    font-size: 40px;
    text-align: center;
  }
  .form label{
    font-size: 25px;
  }
  .form input{
    margin: 20px;
    padding: 15px;
    font-size: 25px;
  }
